{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block content %}
    <nav class="menu">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Aboutus">About us</a></li>    
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
{% endblock %}
